.fondo1{
    background-image: url("https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w1920-q80/cbs_page_attribute/latam_upsell_hero1_weblandscape_2560x960_050422.jpg");
}

.nav{

}

.logo{
    margin-left: 8%
}

.texto1{
    width: 35%;
    font-size: 300%;
}

.texto2{
    width: 20%;
}

.div1{
    width: 30%;
}

.btn1 .btn2 .btn3{
    width: 50%;
}
